<div class="pure-g fullheight" >
    <div class="pure-u-2-5 fullheight" >
        <div class="objectives_box fullheight" >
            <div class="objectives_container" >

            </div >
            <a class="new_objective_button" href="javascript:void(0);" >
                +
            </a >
        </div >
    </div >
    <div class="pure-u-3-5 fullheight" >
        <div class="tasks_preview_container disabled fullheight" >
            <div class="tasks_recap_container fullheight" >
            </div >
            <div class="tasks_all_box fullheight" >
            </div >
            <!--<div class="disabled_message" >-->
                <!--No current objective selected.<br />-->
                <!--Click on an objective in the list to view tasks details.-->
            <!--</div >-->
        </div >
    </div >
</div >
