<div class="header" >
    <h1 >My objectives</h1 >
</div >
<div class="my_objectives_container" >
    <div class="pure-menu pure-menu-open pure-menu-horizontal menu" >
        <a href="javascript:void(0);" class="pure-menu-heading" >My objectives</a >
        <ul >
            <li class="review menu_button" ><a href="#Organization/objectives/review" >Review</a >
            </li >
            <li class="recap menu_button" ><a href="#Organization/objectives/recap" >Recap</a >
            </li >
        </ul >
    </div >
    <div class="objectives_subapp_container" ></div >
</div >