<div class="pure-g fullheight" >
    <div class="pure-u-2-5 fullheight" >
        <div class="objectives_container fullheight" >
        </div >
    </div >
    <div class="pure-u-3-5" >
        <div class="tasks_preview_container" >
            <div class="tasks_container" >
            </div >
            <div class="disabled_message" >
                No current objective selected.<br />
                Click on an objective in the list to view tasks details.
            </div >
        </div >
    </div >
</div >
